@font-face {
  font-family: "OpenSans";
  /* src: url('../assets/fonts/OpenSans/OpenSans-Regular.ttf'); */
  src: url("../assets/fonts/OpenSans/webFonts/fonts/OpenSans-Regular.woff") format("tff"),
  url("../assets/fonts/OpenSans/webFonts/fonts/OpenSans-Regular.woff2") format("woff");
}

@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato/wotf/Lato-Regular.woff") format("tff"),
    url("../assets/fonts/Lato/wotf/Lato-Regular.woff2") format("woff");
}
